
            <div fxLayout="row" fxLayoutAlign="start center"  class="canvas-box">
              <ngx-video-timeline class="canvas-class" [playTime]="playTime" [isPlayClick]="isPlayClick"  [videoCells]="videoCells" [startTimeThreshold]="startTimeThreshold" [endTimeThreshold]="endTimeThreshold"  [canvasHeight]="canvasHeight"  [speed]="speed" (playClick)="onPlayClick($event)" ></ngx-video-timeline>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
              <div>
                  <button mat-button (click)="onPlay()">play</button>
                  <button mat-button (click)="onPause()">pause</button>
                  <button mat-button (click)="changeVideo()">changeVideos</button>
                  <!-- <mat-form-field>
                      <input matInput [matDatepicker]="picker" placeholder="选择时间" (dateChange)="selectedTime($event)">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field> -->
              </div>

          </div>